<script language="javascript" type="text/javascript" scr="~/Scripts/Service/RepairOrder.js"></script>
<div id="roPanel">
    <div id="roToolbar" class="panel-border"></div>
</div>
<div class="float-left" style="width: 560px">
    <div class="single-line">
        <label class="textbox-label-left std-label-110 tech-system-font">RO</label>
        <label id="RONumber" class="std-label-data tech-system-font" style="width: 200px">@Model.TechHeader.RONumber</label>
        <label class="textbox-label-left std-label-110 tech-system-font">RO</label>
        <label class="textbox-label-left std-label-110 tech-system-font">RO</label>
        <div class="clear-both"></div>
    </div>
</div>


@*<script language="javascript" type="text/javascript" scr="~/Scripts/Service/RepairOrder.js?v=@typeof(WebAppCore).Assembly.GetName().Version.ToString().Trim()"></script>*@
