@model CleanUp.Entities.Job

<div class="modal fade" id="AddUpdateModelPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddUpdateModelLabel">Add New Jobs</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm())
                    {*@
                <form   asp-action="Add" asp-controller="Jobs">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @* Hidden filed for storing Id of teacher need to be updated *@

                        <input id="BuildingId" asp-for="BuildingId" hidden value="@ViewBag.BuildingId" />
                        <div class="form-group">
                            <label asp-for="JobType" class="control-label"></label>
                            <input asp-for="JobType" class="form-control" />
                            <span asp-validation-for="JobType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Start" class="control-label"></label>
                            <input asp-for="Start" class="form-control" />
                            <span asp-validation-for="Start" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Finish" class="control-label"></label>
                            <input asp-for="Finish" class="form-control" />
                            <span asp-validation-for="Finish" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes" class="control-label"></label>
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <div class="modal-footer" class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    @*}*@
                </form>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@if (Model != null)
{
    <script type="text/javascript">
            $(function () {
                alert("Inserted Job ID: " + @Model.JobId);
            });
    </script>
}

